<style>
  
html {
  /* baseline source https://codepen.io/Kseso/pen/dyeBL/ */
  /*<p> Credits:Original idea: <a href='https://codepen.io/solipsistacp/pen/Gpmaq/'>solipsistaCP</a></p>  */
  height: 100%;
  width: 100%;
}
.dasher {
background-image: url(/*insert hosted image here */); 
background-size: cover; /*resizes width to match up with size of the frame. */
width: 1085px;
height: 1085px;
border: 0px solid #F0E5AB;
border-radius: 0px;
box-shadow: 0 0 1px #999, -2px 2px 3px rgba(0,0,0,.2);
padding: 0;
margin: 1rem auto;
position: relative;
overflow: hidden;
}

.dancer {
background-image: url(/*insert hosted image here */);
background-size: cover; /*resizes width to match up with size of the frame */
height:1085px;
resize: none; 
position: absolute; 
top: 0; left: 0; 
min-width: 0;
max-width: 1085px;
-moz-box-sizing: border-box; 
box-sizing: border-box; 
}
.dancer:before {  /* Big green knob  */
    position: absolute;
  	top: 0;
 	  right: -16px;
    top: 50%;
    width: 32px;
    height: 64px;
    margin: -32px 0 0 -32px;
 
    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:24px;
    text-align:center;
    line-height:64px;
    background: #355e3b; /* @orange */
    border: 1px solid #1C4522; /* darken(@green, 5%) */
    border-radius: 0%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3), 
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #9BC4A1; /* lighten(@green, 40%)*/ 
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
} 

.comet{  
resize: horizontal; 
opacity: 0; 
position: relative;
top: 50%;
left: 0px; 
margin-right: -16px;
width: 15px; height: 15px; 
max-width: 100%; 
min-width: 28px;
outline: 0 solid transparent; 
cursor: move;
cursor: all-scroll;
transform: scaley(35);
transform-origin: center center;
animation: delta 3s 1 normal ease-in-out 1s;
}
@keyframes delta {
30% {width: 125px}
60% {width: 451px}
/*80% {width: 668px}*/

</style>
